/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  --primary-color-100: #bababa;
  --primary-color-200: #8d8d8d;
  --primary-color-300: #5f5f5f;
  --primary-color-400: #3c3c3c;
  --primary-color-500: #1a1a1a;
  --primary-color-600: #171717;
  --primary-color-700: #131313;
  --primary-color-800: #0f0f0f;
  --primary-color-900: #080808;
}
